<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
  <!-- Used for sharing logs and Spoon. -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <!-- Used for instrumentation tests. -->
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <application
      android:icon="@mipmap/dev_ic_launcher"
      android:roundIcon="@mipmap/dev_ic_launcher_round"
      tools:replace="android:icon,android:roundIcon"
      tools:ignore="GoogleAppIndexingWarning"
      >
    <activity
        android:name="cash.andrew.mntrailconditions.ui.DebugActivity"
        android:label="Dev Settings"
        android:launchMode="singleTask"
        android:theme="@style/Theme.MnTrailConditions.Debug"
        android:screenOrientation="portrait"
        android:icon="@mipmap/dev_ic_launcher"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.squareup.leakcanary.internal.DisplayLeakActivity"
        android:enabled="false"
        android:label="@string/leak_canary_display_activity_label"
        android:taskAffinity="com.squareup.leakcanary.${applicationId}"
        android:theme="@style/leak_canary_LeakCanary.Base"
        >
      <intent-filter tools:node="removeAll"/>
    </activity>
  </application>
</manifest>
